# 利用編輯定時任務$sudo nano /etc/crontab   #加入每小時(60min)檢查刪除檔案的任務:每超過4天以上的紀錄檔video*.h264 
#
*/60 * * * * sh /home/pi/deletefile.sh >/home/pi/temp.log       #every 60 minutes running
#
@reboot pi sleep 10 && sh /home/pi/autorun.sh                   #啟動10秒後運行autorun.sh
#@reboot pi sleep 15 && python3 /home/pi/Reportip.py &           #啟動15秒後運行Reportip.py